body {
  font-size: .875rem;
  background-color: #D3D3D3 ;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.total-spent {
  float: left;
  width: 500px;
  height: 160px;
}

.spent-summary {
  float : right;
  margin-right: 125px;
}
#spent-money-text{
  margin-left: 25px;
  margin-top: -20px;
  padding-left: 20px;
}
#total-spent-text{
  font-size: 20px;
}

.dot {
  float:left;
  height: 10px;
  width: 10px;
  margin-left: -12px;
  border-radius: 50%;
  display: inline-block;
}

.Purchase-Order-Summary {
  float:right;
  width: 700px;
  height: 200px;
}

.Purchase-Order-Summary-Canvas-1, .Purchase-Order-Summary-Canvas-2, .Purchase-Order-Summary-Canvas-3,
.Purchase-Order-Summary-Canvas-4, .Purchase-Order-Summary-Canvas-5, .Purchase-Order-Summary-Canvas-6 {
  background-color: white;
}

.Purchase-Order-Summary-Canvas-1{
  float :left;
  background-color: white;
  width : 200px;
  height: 70px;
}

.Purchase-Order-Summary-Canvas-2{
  margin-left:50px;
  display: inline;
  float : left;
  background-color: white;
  width : 200px;
  height: 70px;
}

.Purchase-Order-Summary-Canvas-3{
  display: inline;
  float : right;
  background-color: white;
  width : 200px;
  height: 70px;
}

.Purchase-Order-Summary-Canvas-4{
  margin-top: 20px;
  float : left;
  background-color: white;
  width : 200px;
  height: 70px;
}

.Purchase-Order-Summary-Canvas-5{
  display: inline;
  margin-top: 20px;
  margin-left:50px;
  float : left;
  background-color: white;
  width : 200px;
  height: 70px;
}

.Purchase-Order-Summary-Canvas-6{
  display: inline;
  margin-top: 20px;
  margin-left:50px;
  float : left;
  background-color: white;
  width : 200px;
  height: 70px;
}

.box-content{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.Purchase-Order-Summary-Canvas-1, p{
}

.budget-canvas{
  margin-top:30px;
  float : left;
  background-color: white;
  width : 400px;
  height: 50px;
}

.depaetments-canvas{
  margin-top:27px;
  margin-left: 20px;
  float:left;
  background-color: white;
  width : 400px;
  height: 50px;
}

.top_supplier_canvas{
    margin-top: 27px;
    margin-left:10px;
    float: right;
    width: 100px;
    height: 0px;
}